@import url("./../../meta/main.css");

:root {
    --body-font:Arial, Helvetica, sans-serif;
    --display-font:grandstander;
    --accent-color:#5177a9;
}

body{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./../img/tile-ocean.png);
    background-color:black;
    background-color:var(--accent-color);
    font-family:var(--body-font);
}


#container{
    background-color:white;
}

#nav{
    background-color:lightgray;
}

nav a:hover{
    background-color:var(--accent-color)!important;
}

footer{
    background-color:var(--accent-color);
}

@media only screen and (min-width: 551px) {
    nav a:nth-of-type(2n+1){
        background-color: rgb(189, 189, 189);
    }
}