@import url(./../../meta/main.css);
@import url(./template.css);

:root {
    --body-font:Arial, Helvetica, sans-serif;
    --display-font:grandstander;
    --accent-color:#5177a9;
}

body{
    background-image:url(./../../art/img/bg.png);
    background-color:black;
    background-color:var(--accent-color);
    font-family:var(--body-font);
}

#container{
    background-color:white;
    box-shadow:0 0 10px 0 black;
}

.justified-gallery{margin-bottom: 0.5rem;}
.justified-gallery img, .main-content > img{border-radius:8px;}
.main-content > img{margin-bottom:0.5rem;}

#nav{
    background-color:lightgray;
}

nav a:hover{
    background-color:var(--accent-color)!important;
}

footer{
    background-color:var(--accent-color);
}

@media only screen and (min-width: 551px) {
    nav a:nth-of-type(2n+1){
        background-color: rgb(189, 189, 189);
    }
}

@media only screen and (max-width: 550px) {
    header{
        padding-top: 5rem;
        background-image: url(./../../art/img/bg.png);
    }

    main{
        min-height:90vh;
    }
}

#nextprev{
    margin-top:1rem;
}

#comments{
    margin-top:4rem;
}

.micro{
    article{
        border-radius: 5px;
        background-color: rgb(245, 245, 245);
        border:2px solid black;
        &:nth-of-type(1n){transform: rotate(-1deg)  translateX(-5px);}
        &:nth-of-type(2n){transform: rotate(1deg) translateX(8px);}
    }
    article > div{
        overflow-y:auto;
        padding:1rem;
        padding-top:0.5rem;
        max-height:320px;
    }

    article:nth-of-type(3n-2){--main-color:var(--blue);}
    article:nth-of-type(3n-1){--main-color:var(--yellow);}
    article:nth-of-type(3n){--main-color:var(--brown);}
    h3{
        background-color:var(--main-color);
        padding:1rem;
    }

    h4{
        color:var(--main-color);
        margin-bottom:0.5rem;
    }
    div > span{
        display: block;
        font-size: 0.7rem;
        color: grey;
        text-align:right;
    }
}