@import url(./../../meta/main.css);
@import url(./template.css);

:root {
    --body-font:Arial, Helvetica, sans-serif;
    --display-font:grandstander;
    --accent-color:#5177a9;
}

body{
    background-image:url(./../../art/img/bg.png);
    background-color:black;
    background-color:var(--accent-color);
    font-family:var(--body-font);
}

#container{
    background-color:white;
    box-shadow:0 0 10px 0 black;
}

#nav{
    background-color:lightgray;
}

nav a:hover{
    background-color:var(--accent-color)!important;
}

footer{
    background-color:var(--accent-color);
}

@media only screen and (min-width: 551px) {
    nav a:nth-of-type(2n+1){
        background-color: rgb(189, 189, 189);
    }
}

@media only screen and (max-width: 550px) {
    header{
        padding-top: 5rem;
        background-image: url(./../../art/img/bg.png);
    }

    main{
        min-height:90vh;
    }
}

#nextprev{
    margin-top:1rem;
}

#comments{
    margin-top:4rem;
}