@font-face {
    font-family: 'grandstander';
    src: url('./grandstander.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}

:root {
    --pink: #d9406a;
    --yellow: #deab31;
    --teal: #63bbb5;
    --brown: #3d2d28;
    --dark-brown: #312422;
}

body{
    padding:0;margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:grandstander;
}

ol,ul{margin-top:0;}
a{text-decoration:none;color:inherit;}
p{margin-top:0;}

p > a {
    text-decoration:underline;
}

hr.clear{
    margin:0;
    border:0;
    clear:both;
}

p:last-child,ol:last-child,ul:last-child{
    margin-bottom:0;
}

ul{
    list-style-type:"★ ";
}
ul li:nth-child(2n){
    list-style-type:"✮ ";
}
.txt-pink{color:var(--pink)!important;}
.txt-yellow{color:var(--yellow)!important;}
.txt-teal{color:var(--teal)!important;}

.bg-yellow{background-color:var(--yellow)!important;}
.bg-teal{background-color:var(--teal)!important;}

.bg-white{background-color:white!important;}
.bg-light-gray{background-color:lightgray!important;}
.bg-gray{background-color:gray!important;}
.bg-black{background-color:black!important;}

.outlined-white{filter:drop-shadow(2px 0 0 white)drop-shadow(-2px 0 0 white)drop-shadow(0 2px 0 white)drop-shadow(0 -2px 0 white)}

.justified-gallery {
    --space: 5px;
    --min-height: 200px;
}

.justified-gallery {
display: flex;
flex-wrap: wrap;
grid-gap: var(--space);
list-style: none;
margin: 0 !important;
padding: 0 !important;
}

.justified-gallery > * {
width:100%;
flex-grow: calc(var(--width) * (100000 / var(--height)));
flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
aspect-ratio: var(--width) / var(--height);
position: relative;
overflow: hidden;
margin: 0 !important;
padding: 0 !important;
}

.justified-gallery > * > img {
position: absolute;
width: 100%;
height: 100%;
}

.yt-embed {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.yt-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.float-right{float:right;}
.float-left{float:left;}

@media only screen and (max-width: 450px) {
.float-right,.float-left{float:none;margin:0 auto;}
}

.default{
    background: conic-gradient(var(--brown) 90deg, var(--dark-brown) 90deg 180deg, var(--brown) 180deg 270deg, var(--dark-brown) 270deg);
    background-repeat: repeat;
    background-size: 100px 100px;
}
.bg-misfits{
    background-color: #3cb6b9;
    background-image: url(./../media/wtv/tile-clouds.png);
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position:bottom;
}

body.default{
    background:black;position: relative;
}

body.default::before{
    content:"";
    z-index:-1;
    height:80%;
    width:100%;
    max-width:1200px;
    background: conic-gradient(var(--brown) 90deg, var(--dark-brown) 90deg 180deg, var(--brown) 180deg 270deg, var(--dark-brown) 270deg);
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: top left;
    position: absolute;
    top:10vh;
    right:50%;
    transform: translateX(50%) skewY(-2deg);
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}  
header.stupied{text-align:center;margin-top:1rem;}
header.stupied img{max-width:250px;width:90%;}

footer a:not(:last-of-type)::after{
    content:" | ";
}
footer{
    text-align:center;
    margin-bottom:1rem;
}

body.default footer{color:white;}