@font-face {
    font-family: 'grandstander';
    src: url('./grandstander.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}

:root {
    --lighter-pink:#eacdd5;
    --light-pink:#e191a6;
    --pink:#d9406a;
    --dark-pink:#9c2453;
    --darker-pink:#671036;

    --lighter-yellow:#efe2b3;
    --light-yellow:#efc73e;
    --yellow:#deab31;
    --dark-yellow:#a6782a;
    --darker-yellow:#8e5a20;

    --lighter-teal:#c3e4e1;
    --light-teal:#8ec8c2;
    --teal:#63bbb5;
    --dark-teal:#3b8586;
    --darker-teal:#24495a;

    --brown: rgb(61, 45, 40);
    --dark-brown: #312422;
}

body{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:grandstander;
}

ol,ul{margin-top:0;}
a{text-decoration:none;color:inherit;}
p{margin-top:0;}

p > a {
    text-decoration:underline;
}

hr.clear{
    margin:0;
    border:0;
    clear:both;
}

p:last-child,ol:last-child,ul:last-child{
    margin-bottom:0;
}

ul{
    list-style-type:"★ ";
}
ul li:nth-child(2n){
    list-style-type:"✮ ";
}

.txt-left{text-align:left!important;}
.txt-center{text-align:center!important;}
.txt-right{text-align:right!important;}

.txt-white{color:white!important;}
.txt-black{color:black!important;}

.txt-brown{color:var(--brown)!important;}

.txt-lighter-pink{color:var(--lighter-pink)!important;}
.txt-light-pink{color:var(--light-pink)!important;}
.txt-pink{color:var(--pink)!important;}
.txt-dark-pink{color:var(--dark-pink)!important;}
.txt-darker-pink{color:var(--darker-pink)!important;}

.txt-lighter-yellow{color:var(--lighter-yellow)!important;}
.txt-light-yellow{color:var(--light-yellow)!important;}
.txt-yellow{color:var(--yellow)!important;}
.txt-dark-yellow{color:var(--dark-yellow)!important;}
.txt-darker-yellow{color:var(--darker-yellow)!important;}

.txt-lighter-teal{color:var(--lighter-teal)!important;}
.txt-light-teal{color:var(--light-teal)!important;}
.txt-teal{color:var(--teal)!important;}
.txt-dark-teal{color:var(--dark-teal)!important;}
.txt-darker-teal{color:var(--darker-teal)!important;}

.outlined-white{filter:drop-shadow(2px 0 0 white)drop-shadow(-2px 0 0 white)drop-shadow(0 2px 0 white)drop-shadow(0 -2px 0 white)}

.bg-white{background-color:white!important;}
.bg-gray{background-color:gray!important;}
.bg-black{background-color:black!important;}

.bg-lighter-pink{background-color:var(--lighter-pink)!important;}
.bg-light-pink{background-color:var(--light-pink)!important;}
.bg-pink{background-color:var(--pink)!important;}
.bg-dark-pink{background-color:var(--dark-pink)!important;}
.bg-darker-pink{background-color:var(--darker-pink)!important;}

.bg-lighter-yellow{background-color:var(--lighter-yellow)!important;}
.bg-light-yellow{background-color:var(--light-yellow)!important;}
.bg-yellow{background-color:var(--yellow)!important;}
.bg-dark-yellow{background-color:var(--dark-yellow)!important;}
.bg-darker-yellow{background-color:var(--darker-yellow)!important;}

.bg-lighter-teal{background-color:var(--lighter-teal)!important;}
.bg-light-teal{background-color:var(--light-teal)!important;}
.bg-teal{background-color:var(--teal)!important;}
.bg-dark-teal{background-color:var(--dark-teal)!important;}
.bg-darker-teal{background-color:var(--darker-teal)!important;}

.padding{padding:1rem!important;}
.no-padding{padding: 0!important;}
.no-border{border:0!important;}

.cont.no-padding > .padding:first-child{padding:1rem 1rem 0 1rem!important;}
.cont>.cont{border:3px solid black;}
.cont{
    background-color:white;
    color:black;
    border:4px solid black;
    padding:1rem;
}

.cont-half{border:4px solid black;}
.cont-half>div{padding:1rem;}

.cont-paper{
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, #ffffff 1px, #ffffff);
    border:3px solid black;
    padding:1rem;
    color:black;
}
.cont-black{
    background-color:rgb(0, 0, 0,0.7);
    color:white;
    border:3px solid black;
    padding:1rem;
}
.cont:not(:first-child),.cont-half:not(:first-child),.cont-black:not(:first-child),.cont-paper:not(:first-child){margin-top:5px;}

header#stupiedHeader{
    text-align:center;
    margin-bottom:1rem;
    margin-top:2rem;
    font-family:grandstander;
    font-weight:600;
}
header#stupiedHeader div{
    margin:auto;
    padding:10px 0;
    width:fit-content;
    transform:scale(300%);
}
#stupiedHeader span:not(:first-child){
    margin-left:-4px;
}
header#stupiedHeader span:last-child{
    padding-left:3px;
    color:white;
}
#stupiedHeader .pink{text-shadow: 0 -0.1em var(--pink), 0.1em -0.1em var(--pink), 0.1em 0 var(--pink), 0.1em 0.1em var(--pink), 0 0.1em var(--pink), -0.1em 0.1em var(--pink), -0.1em 0 var(--pink), -0.1em -0.1em var(--pink)}
#stupiedHeader .yellow{text-shadow: 0 -0.1em var(--yellow), 0.1em -0.1em var(--yellow), 0.1em 0 var(--yellow), 0.1em 0.1em var(--yellow), 0 0.1em var(--yellow), -0.1em 0.1em var(--yellow), -0.1em 0 var(--yellow), -0.1em -0.1em var(--yellow)}
#stupiedHeader .teal{text-shadow: 0 -0.1em var(--teal), 0.1em -0.1em var(--teal), 0.1em 0 var(--teal), 0.1em 0.1em var(--teal), 0 0.1em var(--teal), -0.1em 0.1em var(--teal), -0.1em 0 var(--teal), -0.1em -0.1em var(--teal)}

.square-gallery{
    display:flex;
    flex-wrap: wrap;
    gap:4px;
}
.square-gallery img{
    width:100%;
    display:block;
    object-fit:cover;
    aspect-ratio:1;
}
.square-gallery a, .square-gallery > img{
    width:calc((100% - 8px)/3);
}

.justified-gallery {
    --space: 5px;
    --min-height: 200px;
}

.justified-gallery {
display: flex;
flex-wrap: wrap;
grid-gap: var(--space);
list-style: none;
margin: 0 !important; /* We use !important to avoid gaps in some environments. */
padding: 0 !important; /* We use !important to avoid gaps in some environments. */
}

.justified-gallery > * {
width:100%;
flex-grow: calc(var(--width) * (100000 / var(--height)));
flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
aspect-ratio: var(--width) / var(--height);
position: relative;
overflow: hidden;
margin: 0 !important; /* We use !important to avoid gaps in some environments. */
padding: 0 !important; /* We use !important to avoid gaps in some environments. */
}

.justified-gallery > * > img {
position: absolute;
width: 100%;
height: 100%;
}

.yt-embed {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.yt-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.default{
    background: conic-gradient(var(--brown) 90deg, var(--dark-brown) 90deg 180deg, var(--brown) 180deg 270deg, var(--dark-brown) 270deg);
    background-repeat: repeat;
    background-size: 100px 100px;
}
.misfits{
    background-color: #3cb6b9;
    background-image: url(./../../meta/media/wtv/tile-clouds.png);
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position:bottom;
}

body.default-skewed{
    background-color:black;
    position:relative;
}

body.default-skewed::before{
    content:"";
    z-index:-1;
    height:80%;
    width:100%;
    max-width:1200px;
    background: conic-gradient(var(--brown) 90deg, var(--dark-brown) 90deg 180deg, var(--brown) 180deg 270deg, var(--dark-brown) 270deg);
    background-repeat: repeat;
    background-size: 100px 100px;
    background-position: top left;
    position: absolute;
    top:10%;
    right:50%;
    transform: translateX(50%) skewY(-2deg);
}
body#gallery #container{
    max-width:900px;
    margin:2rem auto 1rem auto;
    background-color:white;
    border:4px solid black;
}
body#gallery nav {
    position: relative;
    background-color:lightgray;
    text-align: center;
    user-select:none;
    display: flex;
}
body#gallery nav a{
    display:block;
    margin:15px 10px;
    cursor: pointer;
}
body#gallery #container main > div:not(:target) {
    display:none;
}

body#blog{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./../media/wtv/tile-ocean.png);
    background-color:black;
}

#blog #container{
    margin:2rem auto;
    width:95%;
    max-width:700px;
}

#blog #container header {
    padding:10px;
    display:inline-block;
    font-family:grandstander;
    font-size:1.5rem;
    font-weight:600;
    color:var(--light-yellow)
}

#blog #container nav {
    color:white;
    user-select:none;
}

#blog nav a:hover{
    color:var(--teal);
}
#blog #container nav a:not(:last-of-type)::after{
    content:" | ";
    color:white;
}
#blog #container main{margin-top:5px;}
#blog #container main > div:not(#comments) img{width:100%;}
#blog #blogDate{
    color:var(--dark-teal);
    padding-bottom:1rem;
}
#blog main .justified-gallery{
margin-bottom:5px!important;
}

#blog #nextprev{
    margin-top:1rem;
    text-align: center;
    user-select:none;
}
@media only screen and (max-width: 450px) {
    header#stupiedHeader div{
        transform:scale(200%);
    }
    #blog #container header{
        display:block;
        padding-bottom:0;
    }
    #blog #container header::after{
        content:""
    }
    #blog #container nav{
        text-align:center;
        padding-bottom:5px;
    }
}

.comicInfo{
    max-width:1100px;
    margin:1rem auto;
    width:95%;
    display:grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "list side";
    grid-template-columns:2fr 1fr;
    background-color:white;
    border:3px solid black;
}
.comicInfo header{grid-area:header;background-color:gray;}
.comicInfo nav{grid-area:nav;background-color:dimgray;}
.comicInfo main{grid-area:list;}
.comicInfo aside{grid-area:side;padding:1rem;background-color:lightgray;}
header img{
    width:100%;
    display:block;
}

body#comicViewer{
    background-color:black;
}
body#comicViewer #container{
    max-width:1800px;
    margin:0 auto;
    background-color:black;
}

body#comicViewer #top header{grid-area:header;}
body#comicViewer #top #nextprev{grid-area:nextprev;}
body#comicViewer #top #extra{grid-area:extra;}

body#comicViewer #top{
    padding:1rem;
    user-select:none;
    background-color:black;
    color:white;
    display:grid;
    grid-template-areas:
    "header nextprev extra";
    grid-template-columns:repeat(3,1fr);
}

body#comicViewer #top, #bottom{
    max-width:1000px;
    margin:0 auto;
}

body#comicViewer #top header{
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

body#comicViewer #info{
    margin:10px 0;
}
body#comicViewer header a{
    font-family: grandstander;
    font-weight:600;
    color:var(--yellow);
}
body#comicViewer header a::after{
    content:" / ";
}

body#comicViewer main{
    padding:5px 0;
}

body#comicViewer .images{
    max-width:800px;
    margin:5px auto;
    border:3px solid black;
}

body#comicViewer .images img{
    width:100%;
    display:block;
}

body#comicViewer #nextprev{
    text-align:center;
}

body#comicViewer #extra{
    text-align:right;
}
body#comicViewer #next a > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    display:flex;
    user-select:none;
    height:100px;
}
body#comicViewer #next > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    padding:1rem;
}
body#comicViewer #next img{
    display: block;
    width:100px;
    height:100px;
    object-fit:cover;
}
body#comicViewer #next-title{
    flex:1;
    position: relative;
}
body#comicViewer #next-title-content{
    position: absolute;
    bottom:50%;
    left:10px;
    transform: translateY(50%);
}
body#comicViewer #bottom{
    background-color:white;
    padding:10px;
}

body#comicViewer #bottom #info > div{
    padding:5px 1rem;
}

body#comicViewer #bottom aside {grid-area:side;}
#bottom #comments {grid-area:comments;}

body#comicViewer #bottom{
    display:grid;
    grid-template-areas:
    "comments side"
    "comments side";
    grid-template-columns:2fr 1fr;
    gap:1rem;
    margin:1rem auto;
}
footer{margin-bottom:1rem;}
footer a:not(:last-of-type)::after{
    content:" | ";
}
body#comicViewer footer a:not(:last-of-type)::after{
    content:" | ";
    color:white;
}
body#comicViewer #comments{
    background-color: white;
}
body#comicViewer #info > h3{
    background-color:var(--teal);
    padding:5px;
}
body#comicViewer #info{
    border-radius:5px;
    background-color:var(--lighter-teal);
    border:3px solid black;
}
body#comicViewer footer, body#gallery footer{
    color:white;
    text-align:center;
}
body#comicViewer #nextprev span{
    padding:0 1rem;
}
.comicListItem{
    display:flex;
    height:5rem;
}
.comicListItem:nth-of-type(n+2){
    border-top:1.5px solid #f5f5f5;
}
.comicListIndex{
    margin:1.5rem 5px 0 5px;
}
.comicListThumbnail img{
    display:block;
    width:5rem;
    height:5rem;
    object-fit:cover;
}
.comicListTitle{
    flex:1;
    position: relative;
    overflow:hidden;
}
.comicListTitle h4{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left:10px;
}
@media only screen and (max-width: 650px) {
    .comicInfo{
        display: block;
    }
    body#comicViewer #top{
        grid-template-areas:
        "header extra"
        "nextprev nextprev";
        grid-template-columns:90% 10%;
    }
    body#comicViewer #bottom{
        display: block;
        background-color:black;
    }
    body#comicViewer #nextprev{margin-top:5px}
    body#comicViewer #comments{
        padding:1rem;
        border:3px solid black;
        border-radius:5px;
    }
}