@font-face {
    font-family: 'grandstander';
    src: url('./grandstander.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}

:root {
    --lighter-teal:#dde5e5;
    --light-teal:#bed0d0;
    --teal:#50acae;
    --dark-teal:#38797b;
    --darker-teal:#07151c;

    --lighter-yellow:#efe2b3;
    --light-yellow:#efc73e;
    --yellow:#deab31;
    --dark-yellow:#a6782a;
    --darker-yellow:#8e5a20;

    --brown: #3d2d28;
    --dark-brown: #312422;
}

body{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:grandstander;
}

ol,ul{margin-top:0;}
a{text-decoration:none;color:inherit;}
p{margin-top:0;}

p > a {
    text-decoration:underline;
}

hr.clear{
    margin:0;
    border:0;
    clear:both;
}

p:last-child,ol:last-child,ul:last-child{
    margin-bottom:0;
}

ul{
    list-style-type:"★ ";
}
ul li:nth-child(2n){
    list-style-type:"✮ ";
}


.padding{padding:1rem;}

.txt-left{text-align:left!important;}
.txt-center{text-align:center!important;}
.txt-right{text-align:right!important;}

.txt-white{color:white!important;}
.txt-black{color:black!important;}

.txt-light-teal{color:var(--light-teal)!important;}

.txt-lighter-teal{color:var(--lighter-teal)!important;}
.txt-light-teal{color:var(--light-teal)!important;}
.txt-teal{color:var(--teal)!important;}
.txt-dark-teal{color:var(--dark-teal)!important;}
.txt-darker-teal{color:var(--darker-teal)!important;}

.outlined-white{filter:drop-shadow(2px 0 0 white)drop-shadow(-2px 0 0 white)drop-shadow(0 2px 0 white)drop-shadow(0 -2px 0 white)}

.bg-white{background-color:white!important;}
.bg-light-gray{background-color:lightgray!important;}
.bg-gray{background-color:gray!important;}
.bg-black{background-color:black!important;}

.bg-lighter-teal{background-color:var(--lighter-teal)!important;}
.bg-light-teal{background-color:var(--light-teal)!important;}
.bg-teal{background-color:var(--teal)!important;}
.bg-dark-teal{background-color:var(--dark-teal)!important;}
.bg-darker-teal{background-color:var(--darker-teal)!important;}

.square-gallery{
    display:flex;
    flex-wrap: wrap;
    gap:4px;
}
.square-gallery img{
    width:100%;
    display:block;
    object-fit:cover;
    aspect-ratio:1;
}
.square-gallery a, .square-gallery > img{
    width:calc((100% - 8px)/3);
}

.justified-gallery {
    --space: 5px;
    --min-height: 200px;
}

.justified-gallery {
display: flex;
flex-wrap: wrap;
grid-gap: var(--space);
list-style: none;
margin: 0 !important;
padding: 0 !important;
}

.justified-gallery > * {
width:100%;
flex-grow: calc(var(--width) * (100000 / var(--height)));
flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
aspect-ratio: var(--width) / var(--height);
position: relative;
overflow: hidden;
margin: 0 !important;
padding: 0 !important;
}

.justified-gallery > * > img {
position: absolute;
width: 100%;
height: 100%;
}

.yt-embed {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.yt-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bg-checkered{
    background: conic-gradient(var(--brown) 90deg, var(--dark-brown) 90deg 180deg, var(--brown) 180deg 270deg, var(--dark-brown) 270deg);
    background-repeat: repeat;
    background-size: 100px 100px;
}
.bg-misfits{
    background-color: #3cb6b9;
    background-image: url(./../media/wtv/tile-clouds.png);
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position:bottom;
}

body.default{
    background:url(./../media/wtv/tile-main.png),linear-gradient(var(--light-teal) 0%,var(--lighter-teal) 99%, white 100%);
}

body.default #container{
    margin:1rem auto;
    max-width:850px;
    width:95%;
    background-color:white;
    border:4px solid black;
    box-shadow:0 0 20px 0px black;
    border-radius:10px;
    overflow:hidden;
    z-index:-3;
}
body.default #container > header{
    user-select:none;
    filter: saturate(0) brightness(90%);
    background-repeat: no-repeat;
    background-position:center right;
    background-size: 100%;
    height:20vw;
    max-height:150px;
    min-height:100px;
    background-image:url(./../media/art/2024-24.png);
}

body.default #container > header > a{
    display:block;
    width:100%;
    height:100%;
}

body.default #container > nav:first-of-type{
    --gap:20px;
    background: black;
    background: linear-gradient(180deg, black 25%, var(--teal) 100%);
    border-bottom:2px solid var(--dark-teal);
    display:flex;
    color:white;
    padding:5px 20px;
    gap:var(--gap);
    user-select:none;
}
body.default #container > nav:first-of-type > a,
body.default #container > footer > a{
    display: block;
    text-shadow:0 0 5px white;
}
body.default #container > nav:first-of-type > a:nth-child(n+2)::before,
body.default #container > footer > a:nth-child(n+2)::before{
    content:"|";
    margin-right:var(--gap);
}
body.default #container > main > .padding:not(:last-child){
    padding-bottom:0;
}

body.default #container > main img{
    width:100%;
}
body.default #container > footer{
    --gap:20px;
    justify-content:center;
    background: black;
    background: linear-gradient(180deg, var(--teal) 0%,black 75%);
    border-top:2px solid var(--dark-teal);
    display:flex;
    color:white;
    padding:5px 0;
    gap:var(--gap);
    user-select:none;
}

body#comicViewer{
    background-color:black;
}
body#comicViewer #container{
    max-width:1800px;
    margin:0 auto;
    background-color:black;
}

body#comicViewer #top header{grid-area:header;}
body#comicViewer #top #nextprev{grid-area:nextprev;}
body#comicViewer #top #extra{grid-area:extra;}

body#comicViewer #top{
    padding:1rem;
    user-select:none;
    background-color:black;
    color:white;
    display:grid;
    grid-template-areas:
    "header nextprev extra";
    grid-template-columns:repeat(3,1fr);
}

body#comicViewer #top, #bottom{
    max-width:1000px;
    margin:0 auto;
}

body#comicViewer #top header{
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

body#comicViewer #info{
    margin:10px 0;
}
body#comicViewer header a{
    font-family: grandstander;
    font-weight:600;
    color:var(--teal);
}
body#comicViewer header a::after{
    content:" / ";
}

body#comicViewer main{
    padding:5px 0;
}

body#comicViewer .images{
    max-width:800px;
    margin:5px auto;
    border:3px solid black;
}

body#comicViewer .images img{
    width:100%;
    display:block;
}

body#comicViewer #nextprev{
    text-align:center;
}

body#comicViewer #extra{
    text-align:right;
}
body#comicViewer #next a > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    display:flex;
    user-select:none;
    height:100px;
}
body#comicViewer #next > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    padding:1rem;
}
body#comicViewer #next img{
    display: block;
    width:100px;
    height:100px;
    object-fit:cover;
}
body#comicViewer #next-title{
    flex:1;
    position: relative;
}
body#comicViewer #next-title-content{
    position: absolute;
    bottom:50%;
    left:10px;
    transform: translateY(50%);
}
body#comicViewer #bottom{
    background-color:white;
    padding:10px;
}

body#comicViewer #bottom #info > div{
    padding:5px 1rem;
}

body#comicViewer #bottom aside {grid-area:side;}
#bottom #comments {grid-area:comments;}

body#comicViewer #bottom{
    display:grid;
    grid-template-areas:
    "comments side"
    "comments side";
    grid-template-columns:2fr 1fr;
    gap:1rem;
    margin:1rem auto;
}
body#comicViewer footer a:not(:last-of-type)::after{
    content:" | ";
    color:white;
}
body#comicViewer #comments{
    background-color: white;
}
body#comicViewer #info > h3{
    background-color:var(--teal);
    padding:5px;
}
body#comicViewer #info{
    border-radius:5px;
    background-color:var(--lighter-teal);
    border:3px solid black;
}
body#comicViewer footer, body#gallery footer{
    color:white;
    text-align:center;
}
body#comicViewer #nextprev span{
    padding:0 1rem;
}
.comicListItem{
    display:flex;
    height:5rem;
}
.comicListItem:nth-of-type(n+2){
    border-top:1.5px solid #f5f5f5;
}
.comicListIndex{
    margin:1.5rem 5px 0 5px;
}
.comicListThumbnail img{
    display:block;
    width:5rem;
    height:5rem;
    object-fit:cover;
}
.comicListTitle{
    flex:1;
    position: relative;
    overflow:hidden;
}
.comicListTitle h4{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left:10px;
}
@media only screen and (max-width: 650px) {
    .comicInfo{
        display: block;
    }
    body#comicViewer #top{
        grid-template-areas:
        "header extra"
        "nextprev nextprev";
        grid-template-columns:90% 10%;
    }
    body#comicViewer #bottom{
        display: block;
        background-color:black;
    }
    body#comicViewer #nextprev{margin-top:5px}
    body#comicViewer #comments{
        padding:1rem;
        border:3px solid black;
        border-radius:5px;
    }
}