<div id="nav">
    <div>
        <nav>
            <a href="{{ '/index' | relative_url }}">🏠︎</a>
            <a href="/about/index.html#from-blog">about me</a>
            <a href="{{ '/archive' | relative_url }}">archive</a>
            <a href="{{ '/micro/' | relative_url }}">micro</a>
            <a href="#" onclick="randomPost()">random</a>
            <a href="/index.html">✮ head back »</a>
            <div id="nextprev-dup"></div>
        </nav>
    </div>
</div>

<script>
function randomPost(){
    fetch("/blog/meta/posts.json")
        .then((response) => response.json())
        .then((posts) => {
            randomNum = Math.floor(Math.random() * posts.length);
            window.location.href = posts[randomNum]
    })
}
</script>