@import url(./../meta/main.css);

body{
    background-color:var(--blue);
    color:var(--dark-brown);
    background-image: url(./img/bg.png);
}

body > .main-content,
body > #aside-1-content,
body > #aside-2-content {
  display: none;
}

::selection {
  color: var(--dark-brown);
  background: rgb(255, 202, 27);
}

.justified-gallery{
  --space:0;
  user-select: none;
}

.justified-gallery img{
  transition:0.5s;
}

.justified-gallery a:hover img{
  transform:scale(110%);
}

#lightbox{
  user-select: none;
  background-color:rgba(0, 0, 0, 0.9);
  height:0; overflow:hidden;
}

#lightbox-container{
    max-width:1000px;
    height:100%;
    display:flex;
    margin:auto;
    box-shadow: 0 0 30px black;
}

#lightbox-img{
    background-color:black;
    height:100%;
}

#lightbox-img img{
    height:100%;
    width:100%;
    object-fit: contain;
    display: block;
}

#lightbox-side{
    flex:1;
    overflow-y:auto;
    min-width:250px;
    background-color:white;
    position: relative;
}

#lightbox-header{
    top:0; position:sticky;
    padding:0.5rem;
    background-color:var(--dark-brown);
    color:white;
}
#lightbox-header button{max-height:1.5rem;float:right;}

#lightbox-info:not(:empty){
  padding:1rem;
}

#lightbox-navigation{display: flex;padding:1rem;}

#lightbox-comments{
  flex:1;
  position: relative;
}

#lightbox-comments a{
  display: block;
  position: relative;
  top:50%;
  transform:translateY(-50%);
}
#lightbox-buttons{text-align:right;}
#lightbox-buttons button{padding:1rem;}

@media only screen and (max-width: 650px) {
  .lightbox-activated #lightbox{height:auto;min-height:100vh;overflow: auto;}
    #lightbox-container{display:block;}
    #lightbox-img{height:auto;}
}

.lightbox-activated > *:not(#lightbox){
    display:none;
}

#container header{grid-area:header;}
#container main{grid-area:main;}
#container #aside-container{grid-area:aside1;}
#container aside-2{grid-area:aside2;}
#container footer{grid-area:footer;}

#container{
    display: grid;
    grid-template-areas:
    'header header'
    'main aside1'
    'footer aside1';
    gap:10px;
    grid-template-columns:2fr auto;
    grid-template-rows:auto auto 1fr auto;
    width:95%;
    max-width:1000px;
    margin:auto;
    padding-top:0.5rem;
}

#container .main-content, #container #aside-1{
    border:3px solid var(--dark-brown);
    border-radius: 5px; 
    box-shadow: 3px 3px var(--dark-brown);
    background-color:var(--wheat);
}

#aside-1{user-select: none;}

#container .main-content{
    margin-bottom:1rem;
}

.main-content h1{
  border-bottom: 3px solid var(--dark-brown);
  background-color:var(--blue);
  color:white;
  padding:1rem;
}

header img{
  width:100%;
}

#aside-1{
    padding:0 1rem;
    width:200px;
    top:1.5rem;
    margin-top: 1rem;
    position:sticky;
}

#aside-1 > div{
  margin-bottom:1rem;
}

#aside-1 #aside-1-img{
  width:100%;
  max-width:150px;
  position:relative;
  top:-1rem;
  left:50%;
  transform: translateX(-50%);
}

nav{
  position:relative;
  top:-0.5rem;
  text-align:center;
}

nav > a{
  color:var(--wheat);
  background-color:var(--dark-brown);
  display:inline-block;
  padding:5px 8px;
  border-radius:30px;
  margin-bottom:5px;
}

footer a:not(:last-of-type)::after{
  content:" | ";
}
footer{
  text-align:center;
  margin-bottom:1rem;
}

@media only screen and (max-width: 650px) {
  #container{display:block;}
  #container > *{margin-bottom:1rem;}
  #aside-1{width:auto;margin-bottom:2.5rem;position:relative;}

  #aside-1 #aside-1-img{width:100px;}
}

@media only screen and (max-width: 650px) and (min-width:350px) {
  #aside-1 #aside-1-img{grid-area:img;}
  #aside-1 nav{grid-area:link;}
  #aside-1 > div{grid-area:extra;}

  #aside-1{
    display:grid;
    grid-template-areas:
    'img link'
    'img extra';
    grid-template-columns:100px 1fr;
    grid-template-rows:auto 1fr;
    min-height:100px;
  }

  #aside-1 #aside-1-img{
    left:-0.5rem;
    transform:none;
    position: absolute;
  }

  #aside-1 nav{top:0; margin:1rem 0 0.5rem 0.5rem;text-align:left;}
  #aside-1 nav hr{display:none;}
  #aside-1 > div {margin-left:0.5rem;}
}

#image img{width:100%;}
#comments{margin-top:1rem;}
