@import url("./../meta/main.css");

:root{
    --blue:#5177a9;
}

.padding{padding:1rem!important;}
.no-padding{padding: 0!important;}
.no-border{border:0!important;}

.cont.no-padding > .padding:first-child{padding:1rem 1rem 0 1rem!important;}
.cont>.cont{border:3px solid black;}
.cont{
    background-color:white;
    color:black;
    border:4px solid black;
    padding:1rem;
}

.cont-half{border:4px solid black;}
.cont-half>div{padding:1rem;}

.cont-paper{
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, #ffffff 1px, #ffffff);
    border:3px solid black;
    padding:1rem;
    color:black;
}
.cont-black{
    background-color:rgb(0, 0, 0,0.7);
    color:white;
    border:3px solid black;
    padding:1rem;
}
.cont:not(:first-child),.cont-half:not(:first-child),.cont-black:not(:first-child),.cont-paper:not(:first-child){margin-top:5px;}

#comicList a > span:first-child{font-family: grandstander;}

.comicInfo{
    max-width:1100px;
    margin:1rem auto;
    width:95%;
    display:grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "list side";
    grid-template-columns:2fr 1fr;
    background-color:white;
    border:3px solid black;
}
.comicInfo header{grid-area:header;background-color:gray;}
.comicInfo nav{grid-area:nav;background-color:dimgray;}
.comicInfo main{grid-area:list;}
.comicInfo aside{grid-area:side;padding:1rem;background-color:lightgray;}
.comicInfo header img{width:100%;display:block;}

body#comicViewer{background-color:black;}

#container{
    background-color:black;
    max-width:1800px;
    margin:0 auto;
}

#top header{grid-area:header;}
#top #nextprev{grid-area:nextprev;}
#top #extra{grid-area:extra;}

#top{
    padding:1rem;
    user-select:none;
    background-color:black;
    color:white;
    display:grid;
    grid-template-areas:
    "header nextprev extra";
    grid-template-columns:repeat(3,1fr);
}

#top, #bottom{
    max-width:1000px;
    margin:0 auto;
}

#top header{
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

#info{
    margin:10px 0;
}
header a{
    font-family: grandstander;
    font-weight:600;
    color:var(--blue);
}
header a::after{
    content:" / ";
}

main{
    padding:5px 0;
}

.main-content{
    max-width:800px;
    margin:5px auto;
    border:4px solid black;
    background-color:white;
}

.main-content img{
    width:100%;
    display:block;
}

.main-content div{
    padding:1rem;
}

#nextprev{
    text-align:center;
}

#extra{
    text-align:right;
}
#next a > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    display:flex;
    user-select:none;
    height:100px;
}
#next > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    padding:1rem;
}
#next img{
    display: block;
    width:100px;
    height:100px;
    object-fit:cover;
}
#next-title{
    flex:1;
    position: relative;
}
#next-title-content{
    position: absolute;
    bottom:50%;
    left:10px;
    transform: translateY(50%);
}
#bottom{
    background-color:white;
    padding:10px;
}

#bottom #info-content > div{
    padding:5px 1rem;
}

#bottom aside {grid-area:side;}
#bottom #comments {grid-area:comments;}

#bottom{
    display:grid;
    grid-template-areas:
    "comments side"
    "comments side";
    grid-template-columns:2fr 1fr;
    gap:1rem;
    margin:1rem auto;
}
footer a:not(:last-of-type)::after{
    content:" | ";
    color:white;
}
#comments{
    background-color: white;
}
#info-content > h3{
    background-color:var(--blue);
    padding:5px;
    border-radius:2px 2px 0 0;
}
#info{
    border-radius:5px;
    background-color:white;
    border:3px solid black;
}
footer, body#gallery footer{
    color:white;
    text-align:center;
    margin:1rem auto;
}
#nextprev span{
    padding:0 1rem;
}
.comicListItem{
    display:flex;
    padding:1rem;
}

.comicListItem:hover{
    background-color:rgb(239, 239, 239);
}

.comicListTitle{
    flex:1;
}
.comicListIndex{
    position:relative;
    min-width:30px
}
.comicListIndex span{
    position:absolute;
    top:50%;right:0;
    transform:translateY(-50%);
}
@media only screen and (max-width: 650px) {
    .comicInfo{
        display: block;
    }
    #top{
        grid-template-areas:
        "header extra"
        "nextprev nextprev";
        grid-template-columns:90% 10%;
    }
    #bottom{
        display: block;
        background-color:black;
    }
    #nextprev{margin-top:5px}
    #comments{
        padding:1rem;
        border:3px solid black;
        border-radius:5px;
    }
}

/** Muse Adriade **/
body.muse, body.hat{
    --light-pink:#edb18b;
    --pink:#ed4d46;
    --blue:#ed4d46;
    --yellow:#efe4b0;
}

body.muse ::selection {
    color: #52330c;
    background: #95a63a;
}

body.muse .note{
    background-color:var(--yellow);
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, var(--light-pink), var(--light-pink) 2px, var(--yellow) 2px, var(--yellow));
}

/** Eighty Four **/
body.eighty-four #info-content > h3{
    background-color:var(--yellow)!important;
}

body.eighty-four header a{
    color:var(--yellow)!important;
}

/** Misfits **/
body.misfits{
    --blue:#63bbb5;
}