@import url("./../meta/main.css");

:root{
    --blue:#5177a9;
    --bg-color:black;
    --txt-color:white;
}

.padding{padding:1rem!important;}
.no-padding{padding: 0!important;}
.no-border{border:0!important;}

.cont.no-padding > .padding:first-child{padding:1rem 1rem 0 1rem!important;}
.cont>.cont{border:3px solid black;}
.cont{
    background-color:white;
    color:black;
    border:4px solid black;
    padding:1rem;
}

.cont-half{border:4px solid black;}
.cont-half>div{padding:1rem;}

.cont-paper{
    background-color: #ffffff;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, #ffffff 1px, #ffffff);
    border:3px solid black;
    padding:1rem;
    color:black;
}
.cont-black{
    background-color:rgb(0, 0, 0,0.7);
    color:white;
    border:3px solid black;
    padding:1rem;
}
.cont:not(:first-child),.cont-half:not(:first-child),.cont-black:not(:first-child),.cont-paper:not(:first-child){margin-top:5px;}

#comicList a > span:first-child{font-family: grandstander;}

.comicInfo{
    max-width:1100px;
    margin:1rem auto;
    width:95%;
    display:grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "list side";
    grid-template-columns:2fr 1fr;
    background-color:white;
    border:3px solid black;
}
.comicInfo header{grid-area:header;background-color:gray;}
.comicInfo nav{grid-area:nav;background-color:dimgray;}
.comicInfo main{grid-area:list;}
.comicInfo aside{grid-area:side;padding:1rem;background-color:lightgray;}
.comicInfo header img{width:100%;display:block;}

body#comicViewer{
    background-color:var(--bg-color);
}

body#comicViewer #container{
    max-width:1800px;
    margin:0 auto;
}

body#comicViewer #top header{grid-area:header;}
body#comicViewer #top #nextprev{grid-area:nextprev;}
body#comicViewer #top #extra{grid-area:extra;}

body#comicViewer #top{
    padding:1rem;
    user-select:none;
    background-color:var(--bg-color);
    color:var(--txt-color);
    display:grid;
    grid-template-areas:
    "header nextprev extra";
    grid-template-columns:repeat(3,1fr);
}

body#comicViewer #top, body#comicViewer #bottom{
    max-width:1000px;
    margin:0 auto;
}

body#comicViewer #top header{
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}

body#comicViewer #info{
    margin:10px 0;
}
body#comicViewer header a{
    font-family: grandstander;
    font-weight:600;
    color:var(--blue);
}
body#comicViewer header a::after{
    content:" / ";
}

body#comicViewer main{
    padding:5px 0;
}

body#comicViewer .main-content{
    width:95%;
    max-width:800px;
    margin:5px auto;
    border:4px solid black;
    background-color:white;
}

body#comicViewer .main-content img{
    width:100%;
    display:block;
}

body#comicViewer .main-content div{
    padding:1rem;
}

#nextprev{
    text-align:center;
}

body#comicViewer #extra{
    text-align:right;
}
body#comicViewer #next a > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    display:flex;
    user-select:none;
    height:100px;
}
body#comicViewer #next > div{
    margin:auto;
    background-color: white;
    border-radius:5px;
    overflow:hidden;
    border:3px solid black;
    padding:1rem;
}
body#comicViewer #next img{
    display: block;
    width:100px;
    height:100px;
    object-fit:cover;
}
body#comicViewer #next-title{
    flex:1;
    position: relative;
}
body#comicViewer #next-title-content{
    position: absolute;
    bottom:50%;
    left:10px;
    transform: translateY(50%);
}
body#comicViewer #bottom{
    background-color:white;
    padding:10px;
}

body#comicViewer #bottom #info-content > div{
    padding:5px 1rem;
}

body#comicViewer #bottom aside {grid-area:side;}
body#comicViewer #bottom #comments {grid-area:comments;}

body#comicViewer #bottom{
    display:grid;
    grid-template-areas:
    "comments side"
    "comments side";
    grid-template-columns:2fr 1fr;
    gap:1rem;
    margin:1rem auto;
}
body#comicViewer footer a:not(:last-of-type)::after{
    content:" | ";
    color:var(--txt-color);
}
body#comicViewer #info-content > h3{
    background-color:var(--blue);
    padding:5px;
    border-radius:2px 2px 0 0;
}
body#comicViewer #info{
    border-radius:5px;
    background-color:white;
    border:3px solid black;
}
footer{
    color:var(--txt-color);
    text-align:center;
    margin:1rem auto;
}
#nextprev span{
    padding:0 1rem;
}
.comicListItem{
    display:flex;
    padding:1rem;
}

.comicListItem:hover{
    background-color:rgb(239, 239, 239);
}

.comicListTitle{
    flex:1;
}
.comicListIndex{
    position:relative;
    min-width:30px
}
.comicListIndex span{
    position:absolute;
    top:50%;right:0;
    transform:translateY(-50%);
}
@media only screen and (max-width: 650px) {
    .comicInfo{
        display: block;
    }
    body#comicViewer #top{
        grid-template-areas:
        "header extra"
        "nextprev nextprev";
        grid-template-columns:90% 10%;
    }
    body#comicViewer #bottom{
        display: block;
        background-color:var(--bg-color);
    }
    #nextprev{margin-top:5px}
    body#comicViewer #comments{
        padding:1rem;
        border-radius:5px;
    }

    body#comicViewer #comments{
        background-color: white;
    }
}

/** Muse Adriade **/
body.muse, body.hat{
    --yellow:#efe4b0;
    --light-pink:#edb18b;
    --pink:#ed4d46;
    --blue:var(--pink);
    --brown:#52330c;
    --green:#95a63a;
}

body.muse ::selection {
    color: var(--brown);
    background: var(--green);
}

body.muse .note{
    background-color:var(--yellow);
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, var(--light-pink), var(--light-pink) 2px, var(--yellow) 2px, var(--yellow));
}

/** Eighty Four **/
body.eighty-four #info-content > h3{
    background-color:var(--yellow);
}

body.eighty-four header a{
    color:var(--yellow);
}

body.eighty-four .default{
    background-color: #ffda8e;
    background-image: url(./84/img/bg.png);
    background-size: 650px;
}

body.eighty-four{
    --bg-color:white;
    --txt-color:black;
}

body.eighty-four main{
    border: 3px solid var(--yellow);
    border-right:0;
    border-left:0;
}

/** Misfits **/
body.misfits{
    --blue:#63bbb5;
}

/** Psych **/
body.psych .default{
    background-image: url(./psych/img/bg.png);
    background-size: cover;
}


body.psych{
    --dark-brown:#1b1a18;
    --blue:#b5473d;
    --bg-color:var(--dark-brown);
}