---
layout: post
thumb: img/steve-3.jpg
title: Minecraft irl!?!?!?
---
{% include post-title.html %}
{% include post-date.html %}

<div class=justified-gallery>
    <img src="{{ 'img/steve-1.jpg' | relative_url }}" style="--width: 900; --height: 674;">
    <img src="{{ 'img/steve-2.jpg' | relative_url }}" style="--width: 900; --height: 674;">
    <img src="{{ 'img/steve-3.jpg' | relative_url }}" style="--width: 900; --height: 675;">
    <img src="{{ 'img/steve-4.jpg' | relative_url }}" style="--width: 900; --height: 676;">
</div>
<p>OMG YOU GUYS, YOU WILL NOT BELIEVE WHAT I FOUND TODAY!!!</p>

<img src="{{ 'img/steve-5.jpg' | realtive_url }}">
<p>I gave him some snacks and water</p>

<div class=justified-gallery>
    <img src="{{ 'img/steve-6.jpg' | relative_url }}" style="--width: 900; --height: 1200;">
    <img src="{{ 'img/steve-7.jpg' | relative_url }}" style="--width: 900; --height: 675;">
</div>
<p>Aww~~~ he wanted to help me with my jigsaw puzzle :'3<br>I was worried that he would have trouble adjusting but he got along with my siblings quite well!</p>

<img src="{{ 'img/steve-8.jpg' | realtive_url }}">
<p class=txt-center style=margin-top:1rem;><i>He killed the ender dragon, but at what cost?</i></p>

<img src="{{ 'img/steve-9.jpg' | realtive_url }}">
<img src="{{ 'img/steve-10.jpg' | realtive_url }}">
<p>He's holding a fard</p>

<img src="{{ 'img/steve-11.jpg' | realtive_url }}">
<a href=https://www.pixelpapercraft.com/papercraft/5407e809a6a2642f57000014/the-ultimate-bendable-steve class=txt-right><p>Pattern by RooterBuster</p></a>